<h1>Comcast’s lobbyists and executives are spreading lies to destroy the Internet.
</h1>
<h2>We found their phone numbers and email addresses. Now, help us give them a taste of **real** public opinion.</h2>
<p>
    <!--
    Big Cable is getting desperate. Now that the FCC is moving forward with our
    plan for <u>real</u> net neutrality using Title II, they're spending millions of
    dollars on false and misleading advertising, and top-price political lobbyists,
    all in a last-ditch attempt to scare the public and lawmakers into killing
    net neutrality. 
    -->
    <!--
    Big Cable's lobbyists have been working tirelessly to poison the public
    debate with lies and propaganda, trying to scare citizens and lawmakers
    into abandoning net neutrality.
    But we can fight back!
    -->
    Big Cable is spending millions on
    <a href="http://gizmodo.com/how-much-money-big-cable-gave-the-politicians-who-overs-1657002442" target="_blank">political
    contributions</a> and <a href="#ads">misleading ads</a>, trying to scare citizens
    and lawmakers
    into killing net neutrality. They're fighting dirty, but we can fight back.
    <!--
    They can outspend us, but they can never silence us.
    -->
    <!--
    We found the phone numbers and email addresses of the cable industry's
    top executives and lobbyists. They're spending millions to poison the public
    debate with lies and propaganda, trying to scare citizens and lawmakers
    into killing net neutrality. 
    
    -->
    
</p>
<!--
<p> <b>Help us send them a message: what they are doing is <u>shameful</u>
    and if they have any shred of conscience, they should quit their jobs.</b>
</p>
-->
